<main class="ps-3 pt-2">
    <h1>Edit Job Listing</h1>
    <form action=<%= listing_url(@listing) %> method="POST" style="width: 50%; margin: 0 auto; display: flex; flex-direction: column; gap: 10px;">
    <h2>Listing Details</h2>
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
        <input type="hidden" name="_method" value="PATCH">
        
        <div class="mb-3 form-floating">
            <input placeholder type="text" required name="listing[company]" id="company" class="form-control" value="<%= @listing.company %>">
            <label for="company" class="fs-7 fw-bolder">Company</label>
        </div>
        
        <div class="mb-3 form-floating">
            <input placeholder type="text" required name="listing[job_title]" id="job-title" class="form-control" value="<%= @listing.job_title %>">
            <label for="job-title" class="fs-7 fw-bolder">Job Title</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[job_description]" id="job-description" class="form-control" style="height: 7em"><%= @listing.job_description %></textarea>
            <label for="job-description" class="fs-5 fw-bolder">Description</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[requirements]" id="requirements" class="form-control" style="height: 7em"><%= @listing.requirements.join("\n") %></textarea>
            <label for="requirements" class="fs-5 fw-bolder">Requirements & Qualifications</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[benefits]" id="benefits" class="form-control" style="height: 7em"><%= @listing.benefits.join("\n") %></textarea>
            <label for="benefits" class="fs-5 fw-bolder">Benefits/Other</label>
        </div>

        <input class="btn btn-success" type="submit" value="Save Changes">
    </form>
    <hr>

    <h2>Delete Listing</h2>
    <form action=<%= listing_url(@listing.id) %> method="POST"> 
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
</main>