<script>

    function handleBack(e){
        const list = document.getElementById("list");
        if(list.dataset.page > 1){
            changePage(--list.dataset.page);
            document.getElementById("page-num").innerText--;
        }
    }

    function handleForward(e){
        const list = document.getElementById("list");
        const length = list.dataset.length; // Number of list-items
        if(Number(list.dataset.page)*5 < length){ // Only go forward if there are more list-items
            changePage(++list.dataset.page);
            document.getElementById("page-num").innerText++;
        }
    }

    function changePage(pageNum){
        const list = document.getElementById("list").start = (pageNum*5 - 4) // Start <ol> from appropriate list number
        const items = document.getElementsByClassName("list-item"); // All list-items
        const visible = document.getElementsByClassName("visible"); // Currently visible list-items
        Array.from(visible).forEach((item) => {item.classList.remove("visible"); item.classList.add("hidden");});
        Array.from(items).slice((list.dataset.page * 5)-5, (list.dataset.page * 5)).forEach((item) => {
            item.classList.remove("hidden");
            item.classList.add("visible");
        })
    }

</script>
<main class="pt-2 mx-auto">
    <h1>My Listings</h1>
    <%= button_to "Add a Listing", new_listing_path, class: "btn btn-primary" %>
    <div id="listings-container">
        <ol id="list" class="p-2 m-2" start="1" data-length=<%= @listings.length %> data-page="1">
            <% @listings.reverse.each_with_index do |listing, idx| %>
                <li class="<%= "list-item my-3 " + (idx > 4 ? "hidden" : "visible") %>" data-index=<%= idx %>>
                    <%= link_to listing.job_title() +" @ "+ listing.company(), listing_url(listing), {alt: listing.job_title() +" @ "+ listing.company()} %>
                    <br>
                    <b>Added on:</b> <%= listing.created_at.strftime('%D') %>
                    <form action=<%= generate_letter_url %> method="post" class="ajaxForm" data-action="letters#generate">
                        <input type="hidden" name="listing_id" value=<%=listing.id%>>
                        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
                        <input type="submit" value="Generate New Letter" class="btn btn-success">
                    </form>
                </li>
            <% end %>
        </ol>
        <div id="list-controls-container" class="d-flex justify-content-center align-items-center">
            <button class="btn btn-secondary list-control" id="list-back" onClick="handleBack(event)">Prev</button>
            <span class="list-detail mx-5" id="page-label">Page <span id="page-num">1</span></span>
            <button class="btn btn-secondary list-control" id="list-forward" onClick="handleForward(event)">Next</button>
        </div>
    </div>

</main>