<head>
    <script type="module">
        class LoadingBar {
            constructor(container, url, options={}, completionCallback){
                this.bar = document.createElement('progress');
                this.status = document.createElement('p');
                this.container = container;
                this.complete = 0;

                this.completionCallback ||= completionCallback;

                this.container.append(this.bar);
                this.container.append(this.status);

                this.bar.innerText = 0;
                this.bar.max = 100;

                this.interval = setInterval(()=>{if(this.complete<90)this.incComplete(5)}, 750);

                this.status.innerText = "In Progress..."
                fetch(url, {mode: 'no-cors'}).then((res) => this.completionCallback(res)).catch(this.failureCallback);
            }

            incComplete(num){
                this.complete += num;
                this.bar.innerText = this.complete;
                this.bar.value = this.complete;
            }

            completionCallback(response){
                this.complete = 100;
                this.bar.innerText = 100;
                this.bar.value = 100;
                debugger
                if(response.ok){
                    this.status.innerText = "Complete!"
                } else {
                    this.status.innerText = "ERROR"
                }

            }

            failureCallback(error){
                console.error("Loading Bar Failed: ", error);
            }
        }

        function ajaxSubmit(e){
            e.preventDefault();
            console.log(e.target);
            const form = e.target
            debugger;
            const inputs = form.querySelectorAll("input");
            const method = form.querySelector("input[name=_method]") ? form.querySelector("input[name=_method]").value : form.method;
            new LoadingBar(form, form.action, { method });
        }
    </script>
</head>
<main class="pt-2 mx-auto">
    <h1>My Stuff</h1>
    <h2>Your Listings</h2>
    <%= link_to "Add a Listing", new_listing_path %>
    <ol class="listings-list">
        <% @listings.each do |listing| %>
            <li class="listings-list-item">
                <%= link_to listing.job_title() +" @ "+ listing.company(), edit_listing_url(listing) %><br>
                <span class="d-flex gap-3"><%= "Last Updated: " + listing.updated_at.inspect[0..24] %> <%= button_to "Delete", listing_url(listing), method: :delete, class: "btn btn-danger", onclick: "confirm(\"Are you sure?\")" %></span>

                <ul class="mb-2">
                    <% listing.letters.each do |letter| %>
                        <li class="mb-1">Letter from <%= link_to letter.created_at.inspect[0..24], letter_url(letter) %></li>
                    <% end %>
                </ul>
                <form action=<%= generate_letter_url %> method="post" onSubmit="ajaxSubmit(event)">
                    <input type="hidden" name="listing_id" value=<%=listing.id%>>
                    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
                    <input type="submit" value="Generate New Letter" class="btn btn-primary">
                </form>
                <%# <%= button_to "Generate New Letter", {controller: "letters", action: "generate", listing_id: listing.id.to_s},class: "btn btn-primary" %>
            </li>
        <% end %>
    </ol>
</main>