<script>

    function handleBack(e){
        const list = document.getElementById("list");
        if(list.dataset.page > 1){
            changePage(--list.dataset.page);
            document.getElementById("page-num").innerText--;
        }
    }

    function handleForward(e){
        const list = document.getElementById("list");
        const length = list.dataset.length; // Number of list-items
        if(Number(list.dataset.page)*5 < length){ // Only go forward if there are more list-items
            changePage(++list.dataset.page);
            document.getElementById("page-num").innerText++;
        }
    }

    function changePage(pageNum){
        const list = document.getElementById("list");
        list.start = (pageNum*5 - 4) // Start <ol> from appropriate list number
        const items = document.getElementsByClassName("list-item"); // All list-items
        const visible = document.getElementsByClassName("visible"); // Currently visible list-items
        Array.from(visible).forEach((item) => {item.classList.remove("visible"); item.classList.add("hidden");});
        Array.from(items).slice((list.dataset.page * 5)-5, (list.dataset.page * 5)).forEach((item) => {
            item.classList.remove("hidden");
            item.classList.add("visible");
        })
    }

</script>
<script>
  function profileChange(e){
    const profileId = e.target.value;
    window.location.href = window.location.origin + `/profiles/${profileId}/activate?redirect=listings`;
  }
</script>
<main class="pt-2 mx-auto d-flex">
    <section id="listings-left" class="col-6">
    <h1>My Listings</h1>
    <%= link_to "Add a Listing", new_listing_path, class: "btn btn-success" %>
    <div id="listings-container" class="col-11">
        <ol id="list" class="p-2 m-2" start="1" data-length=<%= @listings.length %> data-page="1">
            <% @listings.reverse.each_with_index do |listing, idx| %>
                <a href="<%= listing_url(listing) %>" alt="<%= listing.job_title() +" @ "+ listing.company() %>">
                    <li class="listings-index-item list-item my-3 <%= (idx > 4 ? "hidden" : "visible") %>" data-index=<%= idx %>>
                        <h6><%= listing.job_title() +" @ "+ listing.company() %></h6>
                        <br>
                        <b>Added on:</b> <%= listing.created_at.strftime('%D') %>
                        <form action=<%= generate_letter_url %> method="post" class="ajaxForm" data-action="letters#generate">
                            <input type="hidden" name="listing_id" value=<%=listing.id%>>
                            <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
                            <input type="submit" value="New Letter" class="btn btn-primary fs-small">
                        </form>
                    </li>
                </a>
            <% end %>
        </ol>
        <div id="list-controls-container" class="d-flex justify-content-center align-items-center">
            <button class="btn btn-secondary list-control" id="list-back" onClick="handleBack(event)">Prev</button>
            <span class="list-detail mx-5" id="page-label">Page <span id="page-num">1</span></span>
            <button class="btn btn-secondary list-control" id="list-forward" onClick="handleForward(event)">Next</button>
        </div>
    </div>
    </section>
    <section id="listings-right" class="col-5">
        <div id="active-resume" class="active-container mt-5 px-3 py-2 text-white" >
            <h5>Resume<br class="d-md-none" />
                <% if @user.profile %>
                <a href=<%= @user.profile ? edit_profile_url(@user.profile) : "#"%> 
                    class="btn btn-light ms-lg-5 ms-sm-1" style="font-size: small">Edit
                </a>
                <% end %>
                <a id="change-button" href="#"
                    class="btn btn-secondary ms-1" style="font-size: small">Change
                    <select id="profile-select" onChange="profileChange(event)">
                        <% @user.profiles.each do |profile| %>
                            <option value=<%= profile.id %> <%= profile.is_active? ? "selected" : ""%>> <%= profile.title %> </option>
                        <% end %>
                    </select>

                </a>
                <a href=<%= new_profile_url() %> 
                    class="btn btn-success ms-1" style="font-size: small">New
                </a>
            </h5>   
            
            <a href="<%= @user&.profile ? edit_profile_url(@user.profile) : "#"%>">
                <div class="px-3 py-2 active-container-inner">
                    <h6><%= @user.profile&.title || "Not Set" %></h6>
                    <p>Industry: <%= @user.profile&.industry&.empty? ? "None Listed" : @user.profile&.industry || "Not Set" %></p>
                    <p><%= ("Last Updated: " + @user.profile&.updated_at.to_date.inspect) if @user.profile %></p>
                </div>
            </a>
        </div>
    </section>

</main>