<main>
<!-- <%= javascript_importmap_tags 'loadingbar' %> -->
    <h1>New Job Listing</h1>
    <form action="<%= listings_url %>" method="POST" style="max-width: 800px" class="ms-3" >
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        
        <div class="mb-3 form-floating">
            <input placeholder type="text" required name="listing[company]" id="company" class="form-control" value="<%= @listing.company %>">
            <label for="company" class="fs-7 fw-bolder">Company</label>
        </div>
        
        <div class="mb-3 form-floating">
            <input placeholder type="text" required name="listing[job_title]" id="job-title" class="form-control" value="<%= @listing.job_title %>">
            <label for="job-title" class="fs-7 fw-bolder">Job Title</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[job_description]" id="job-description" class="form-control" style="height: 7em"><%= @listing.job_description %></textarea>
            <label for="job-description" class="fs-5 fw-bolder">Description</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[requirements]" id="requirements" class="form-control" style="height: 7em"><%= @listing.requirements.join("\n") %></textarea>
            <label for="requirements" class="fs-5 fw-bolder">Requirements & Qualifications</label>
        </div>
        
        <div class="mb-3 form-floating">
            <textarea placeholder name="listing[benefits]" id="benefits" class="form-control" style="height: 7em"><%= @listing.benefits.join("\n") %></textarea>
            <label for="benefits" class="fs-5 fw-bolder">Benefits/Other</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <hr>

    <h2>Generate with AI</h2>
    <h6>If you have trouble using an url, copy and paste the posting as plain text.</h6>
    
    <form class="ajaxForm" action=<%= generate_listing_url %> method="POST" data-action="listings#generate"> 
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
        <span>Generate from:</span>

        <label for="type-url">URL</label>
        <input type="radio" name="type" id="type-url" value="url">

        <label for="type-text">Text</label>
        <input type="radio" name="type" id="type-text" value="text"><br>

        <label for="input">Paste here:</label>
        <textarea name="input" id="input" cols="100", rows="5"></textarea><br>

        <input type="submit" value="Generate">
    </form>



</main>