<script>
  function convertToEdit(e=event){
    
    const editForm = document.createElement('form');
    editForm.setAttribute("method", "POST");
    editForm.setAttribute("action", "<%= user_url(@user) %>" );

    editForm.innerHTML = (`
      <input type="hidden" name="authenticity_token" value=${"<%= form_authenticity_token %>"}>
      <input type="hidden" name="_method" value="PATCH">
      <label class="mb-3">First Name 
        <input class="form-control" id='firstNameInput' type='text' name='user[first_name]' value=${"<%= @user.first_name %>"}>
      </label><br>
      <label class="mb-3">Last Name 
        <input class="form-control" id='lastNameInput' type='text' name='user[last_name]' value=${"<%= @user.last_name %>"}>
      </label><br>
      <input type='submit' value='Update' class="btn btn-primary">
    `);

    e.target.parentElement.appendChild(editForm);
    document.getElementById("full-name").remove();
    document.getElementById("edit-name").remove();
  }
</script>
<main class="pt-2 mx-auto">
  <section id="user-info-container">
     <h1>Account Details</h1>

    <div class="mb-3">
        <strong>Name </strong><a href="#" id="edit-name" onClick="convertToEdit()" class="btn btn-primary">Edit</a>
        <p id="full-name"><%= @user.full_name %></p>
    </div>

    <div class="mb-3">
        <strong>Email Address</strong>
        <p id="email"><%= @user.email %></p>
    </div>

    <h6>Listings Saved: <%= @user.listings.count %></h6>
    <h6>Letters Saved: <%= @user.letters.count %></h6>
    
  </section>
</main>
