<script>
  function convertToEdit(e=event){
    
    const editForm = document.createElement('form');
    editForm.setAttribute("method", "POST");
    editForm.setAttribute("action", "<%= user_url(@user) %>" );

    if(e.target.id === "edit-name"){
      editForm.innerHTML = (`
        <input type="hidden" name="authenticity_token" value=${"<%= form_authenticity_token %>"}>
        <input type="hidden" name="_method" value="PATCH">
        <label class="mb-3">First Name 
          <input class="form-control" id='firstNameInput' type='text' name='user[first_name]' value=${"<%= @user.first_name %>"}>
        </label><br>
        <label class="mb-3">Last Name 
          <input class="form-control" id='lastNameInput' type='text' name='user[last_name]' value=${"<%= @user.last_name %>"}>
        </label><br>
        <input type='submit' value='Update' class="btn btn-primary">
      `);
      e.target.parentElement.appendChild(editForm);
      document.getElementById("full-name").remove();
      document.getElementById("edit-name").remove();
    } else if(e.target.id === "edit-email"){
      editForm.innerHTML = (`
        <input type="hidden" name="authenticity_token" value=${"<%= form_authenticity_token %>"}>
        <input type="hidden" name="_method" value="PATCH">
        <label class="mb-3">New Email 
          <input class="form-control" id='newEmailInput' type='text' name='user[email]' >
        </label><br>
        <label class="mb-3">Confirm New Email
          <input class="form-control" id='confirmEmailInput' type='text' >
        </label><br>
        <label class="mb-3">Password
          <input class="form-control" id='passwordInput' type='password' name='user[password]' >
        </label><br>
        <input type='submit' value='Send Confirmation Email' class="btn btn-primary">
      `);
      e.target.parentElement.appendChild(editForm);
      document.getElementById("edit-email").remove();
      document.getElementById("email").remove();
    }
  }
</script>
<script>
  function profileChange(e){
    const profileId = e.target.value;
    console.log(profileId);
    window.location.href = window.location.origin + `/profiles/${profileId}/activate`;
  }
</script>
<style>


</style>
<main class="pt-2 mx-auto">
  <section id="user-info-container" style="flex-direction: row;" class="col-4">
    <span id="details-container" class="col-4">
      <h1>Account Details</h1>

      <div class="mb-3">
          <strong>Name </strong><a href="#" id="edit-name" onClick="convertToEdit()" style="font-size: small; padding: 3px 10px;" class="btn btn-secondary ms-3">Edit</a>
          <p id="full-name"><%= @user.full_name %></p>
      </div>

      <div class="mb-3">
          <strong>Email Address</strong>
          <!--<a href="#" id="edit-email" onClick="convertToEdit()" style="font-size: small; padding: 3px 10px;" class="btn btn-secondary ms-3">Change</a> -->
          <p id="email"><%= @user.email %></p>
      </div>
    </span>

    <span class="p-3" style="height: 100%; border-radius: 10px; ">
      <h5>Listings Saved: <%= @user.listings.count %></h5>
      <h5>Letters Saved: <%= @user.letters.count %></h5>
      <h5>Candidate Profiles: <%= @user.profiles.count %></h5>
      <div id="active-resume" class="active-container mt-5 px-3 py-2 text-white">

        <h5>Active Resume <br class="d-md-none" />
        <a id="change-button" href="#"
          class="btn btn-primary ms-5" style="font-size: small">Change
          <select id="profile-select" onChange="profileChange(event)">
            <% @user.profiles.each do |profile| %>
              <option value=<%= profile.id %> <%= profile.is_active? ? "selected" : ""%>> <%= profile.title %> </option>
            <% end %>
          </select>
        </a>
        <% if @user.profile %>
          <a href=<%= @user.profile ? user_profile_url(@user, @user.profile) : "#"%> 
             class="btn btn-light ms-lg-1 ms-sm-1" style="font-size: small">View
          </a>
        <% end %>
        <a href=<%= new_profile_url() %> 
            class="btn btn-success ms-1" style="font-size: small">New
        </a>
        </h5>
        
        <a href="<%= @user&.profile ? user_profile_url(@user, @user.profile) : "#"%>">
          <div class="px-3 py-2 active-container-inner">
            <h6><%= @user.profile&.title || "Not Set" %></h6>
            <p>Industry: <%= @user.profile&.industry&.empty? ? "None Listed" : @user.profile&.industry || "Not Set" %></p>
            <p><%= ("Last Updated: " + @user.profile&.updated_at.to_date.inspect) if @user.profile %></p>
          </div>
        </a>
      </div>

      <div id="newest-listing" class="active-container mt-5 px-3 py-2 text-white" >
        <h5>Last Updated Listing<br class="d-md-none" />
        <% if !@user.listings.empty? %>
          <% @listing = @user.listings.order("updated_at").last %>
          <a href=<%= listings_url() %> 
             class="btn btn-primary ms-lg-5 ms-sm-1" style="font-size: small">View All
          </a>
          <a href=<%= listing_url(@listing) %> 
             class="btn btn-light ms-lg-1 ms-sm-1" style="font-size: small">View
          </a>
        <% end %>

        <a href=<%= new_listing_url() %> 
            class="btn btn-success ms-1" style="font-size: small">New
        </a>
        </h5>
        <a href="<%= @listing ? listing_url(@listing) : "#"%>">
          <div class="px-3 py-2 active-container-inner" >
            <h6><%= @listing ? "#{@listing.job_title} @ #{@listing.company}" : "No Listings Yet"%></h6>
            <p><%= ("Last Updated: " + @listing.updated_at.to_date.inspect) if @listing %></p>
          </div>
        </a>
      </div>

    </span>
    
  </section>
</main>
