<script>
  function convertToEdit(e=event){
    
    const editForm = document.createElement('form');
    editForm.setAttribute("method", "POST");
    editForm.setAttribute("action", "<%= user_url(@user) %>" );

    if(e.target.id === "edit-name"){
      editForm.innerHTML = (`
        <input type="hidden" name="authenticity_token" value=${"<%= form_authenticity_token %>"}>
        <input type="hidden" name="_method" value="PATCH">
        <label class="mb-3">First Name 
          <input class="form-control" id='firstNameInput' type='text' name='user[first_name]' value=${"<%= @user.first_name %>"}>
        </label><br>
        <label class="mb-3">Last Name 
          <input class="form-control" id='lastNameInput' type='text' name='user[last_name]' value=${"<%= @user.last_name %>"}>
        </label><br>
        <input type='submit' value='Update' class="btn btn-primary">
      `);
      e.target.parentElement.appendChild(editForm);
      document.getElementById("full-name").remove();
      document.getElementById("edit-name").remove();
    } else if(e.target.id === "edit-email"){
      editForm.innerHTML = (`
        <input type="hidden" name="authenticity_token" value=${"<%= form_authenticity_token %>"}>
        <input type="hidden" name="_method" value="PATCH">
        <label class="mb-3">New Email 
          <input class="form-control" id='newEmailInput' type='text' name='user[email]' >
        </label><br>
        <label class="mb-3">Confirm New Email
          <input class="form-control" id='confirmEmailInput' type='text' >
        </label><br>
        <label class="mb-3">Password
          <input class="form-control" id='passwordInput' type='password' name='user[password]' >
        </label><br>
        <input type='submit' value='Send Confirmation Email' class="btn btn-primary">
      `);
      e.target.parentElement.appendChild(editForm);
      document.getElementById("edit-email").remove();
      document.getElementById("email").remove();
    }
  }
</script>
<main class="pt-2 mx-auto">
  <section id="user-info-container" style="flex-direction: row;" class="col-4">
    <span id="details-container" class="col-4">
      <h1>Account Details</h1>

      <div class="mb-3">
          <strong>Name </strong><a href="#" id="edit-name" onClick="convertToEdit()" style="font-size: small; padding: 3px 10px;" class="btn btn-secondary ms-3">Edit</a>
          <p id="full-name"><%= @user.full_name %></p>
      </div>

      <div class="mb-3">
          <strong>Email Address</strong><a href="#" id="edit-email" onClick="convertToEdit()" style="font-size: small; padding: 3px 10px;" class="btn btn-secondary ms-3">Change</a>
          <p id="email"><%= @user.email %></p>
      </div>
    </span>

    <span class="p-3" style="height: 100%; border-radius: 10px; ">
      <h5>Listings Saved: <%= @user.listings.count %></h5>
      <h5>Letters Saved: <%= @user.letters.count %></h5>
      <h5>Candidate Profiles: <%= @user.profiles.count %></h5>
      <div id="active-profile-container" class="mt-5 px-3 py-2 text-white" style="background-color: #5555ba; border-radius: 10px;">
        <h5>Active Profile <a href=<%= edit_profile_url(@user.active_profile) %> class="btn btn-light ms-3" style="font-size: small">Edit</a></h5>
        <div class="px-3 py-2" style="background-color: #7777ba; border-radius: 10px">
        <h6><%= @user.active_profile.title %></h6>
        <p>Industry: <%= @user.active_profile.industry.empty? ? "None Listed" : @user.active_profile.industry %></p>
        <p>Last Updated: <%= @user.active_profile.updated_at %></p>
        </div>
      </div>
    </span>
    
  </section>
</main>
