<main class="p-3">
  <h2>Report a Bug</h2>
  <h6>Thanks!</h6>
  
  <%= form_with(model: @bug_report, url: bug_report_path, id: "bug-report-form", method: :post, class: "border border-secondary col-lg-6 col-12 p-5") do |form| %>
    <div class="mb-3">
      <%= form.label :email, "Email (Optional)", class: "mb-1" %>
      <%= form.text_field :email, class: "form-control", id:"emailInput", value: @bug_report.email %>
    </div>

    <div class="mb-3">
      <%= form.label :body, "Bug Description *", class: "mb-1"%>
      <%= form.text_area :body, class: "form-control", value: params["error"] || @bug_report.body %>
    </div>

    <div class="mb-3 form-check">
      <%= form.check_box :requires_response, class: "form-check-input", id: "requires_response" %>
      <%= form.label :requires_response, "Requires Response", class: "form-check-label" %>
    </div>

    <input type="hidden" id="agentInput" name="agent">

    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>

</main>
<script>
  function agentGrab(e){
    const agent = window?.navigator?.userAgent;
    debugger;
    const requires_response = document.getElementById("requires_response").checked
    const emailGiven = document.getElementById("emailInput").value;
    if(requires_response && !emailGiven){
      alert("If you choose \"Requires Response\" you must provide a valid email.")
      e.preventDefault();
    }
    if(agent){
      document.getElementById("agentInput").value = agent;
    }
  }

  document.getElementById("bug-report-form").addEventListener("submit", agentGrab);
</script>

