<% @sites = Site.all %>
<% @categories = Site.pluck(:category).uniq %>

<style>
    nav {
        position: sticky;
        top: 100px;
    }
    .categories-nav .nav-link {
        white-space: nowrap;
        color: #5656c4;
        text-decoration: none;
    }
    .category h2 {
    scroll-margin-top: 170px; /* header height + spacing */
    }
    .categories-nav .nav-link:hover {
        text-decoration: underline;
    }
    .website-card h4 {
        margin-bottom: 0.5rem;
    }
</style>
<nav class="categories-nav bg-white border-bottom p-3">
    <div class="container-fluid">
        <div class="nav-scroll d-flex justify-content-center gap-2 overflow-x-auto">
            <% @categories.each do |category| %>
                <a href="#<%= category.downcase.gsub(/\s+/, '-') %>-jobs" class="nav-link"><%= category %></a> | 
            <% end %>
        </div>
    </div>
</nav>

<div class="categories ps-4 pe-4">
    <% @categories.each do |category| %>
        <div class="category border border-primary rounded-3 m-4 p-3">
            <h2 id="<%= category.downcase.gsub(/\s+/, '-') %>-jobs"><%= category %></h2>
            <p>Great for teachers, education professionals, and mission-driven work.</p>
            <div class="websites-list">
                <% @sites.select { |site| site.category == category }.each do |site| %>
                    <div class="website-card">
                        <h4><a href="<%= site.url %>" target="_blank"><%= site.name %></a></h4>
                        <p><%= site.description %></p>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>