<%= javascript_import_module_tag 'splashcounter' if Rails.env.production? %>
<script>

    function updateForm(){
        const form = document.getElementById("express-form");
        const uploadType = form.dataset.upload;
        const format = form.dataset.format;
        const input = document.getElementById("resume-input");

        switch(format){
            case "PDF":
                input.innerHTML = `<div id="upload-type" class="w-100 d-flex py-1 mb-1" onChange="uploadChange(event)">
                                        From:&nbsp; 
                                        <label>File <input type="radio" name="form-type" value="File" ${uploadType === "File" ? "checked" : ""}></label>
                                        <label class="ms-2">Link <input type="radio" name="form-type" value="Link" ${uploadType !== "File" ? "checked" : ""}></label>
                                    </div>`
                                    
                if(uploadType === "File"){
                    input.innerHTML += `<input type="file" name="file" id="file" accept=".pdf" class="mb-3" required>`
                } else {
                    input.innerHTML += `<input placeholder="Link" name="link" id="link-to-file" class="form-control mb-3">`
                }
            break;

            case "DOCX":
                input.innerHTML = `<div id="upload-type" class="w-100 d-flex py-1 mb-1" onChange="uploadChange(event)">
                                        From:&nbsp; 
                                        <label>File <input type="radio" name="form-type" value="File" ${uploadType === "File" ? "checked" : ""}></label>
                                        <label class="ms-2">Link <input type="radio" name="form-type" value="Link" ${uploadType !== "File" ? "checked" : ""}></label>
                                    </div>`
                                    
                if(uploadType === "File"){
                    input.innerHTML += `<input type="file" name="file" id="file" accept=".doc, .docx" class="mb-3">`
                } else {
                    input.innerHTML += `<input placeholder="Link" name="link" id="link-to-file" class="form-control mb-3">`
                }
            break;

            case "TEXT":
                input.innerHTML = `<div class="mb-3 form-floating w-100">
                    <input name="text" id="link-to-file" class="pt-5 pb-3 form-control w-100" required>
                    <label class="fs-5 fw-bolder" for="link-to-file">Paste Here</label>
                </div>`
            break;
            default:
                console.error("Could not update form");
        }

    }

    function uploadChange(e){
        const value = e.target.value;
        const form = e.currentTarget.parentElement.parentElement;
        form.dataset.upload = value;
        updateForm();
    }

    function formatChange(e){
        const value = e.target.value;
        const form = e.target.parentElement.parentElement;
        form.dataset.format = value;
        updateForm();
    }

    async function isValidURL(url) {
        // Regular expression pattern to match URLs
        const urlPattern = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/;
        if(!urlPattern.test(url)){
        return false;
        }
        try{
        await fetch(url, {mode: 'no-cors'});
        return true;
        } catch {
        return false;
        }
    }

    async function checkValidSite(input, button){
      let url = input.value;
      input.disabled = true;
      const loadingImage = new Image();
      loadingImage.src = ["https://cl-helper-development.s3.amazonaws.com/loading-box.gif", "https://cl-helper-development.s3.amazonaws.com/loading-ball.gif"][Math.floor(Math.random()*2)]
      loadingImage.id = "loading-gif"
      button.parentElement.appendChild(loadingImage);
      const statusDiv = document.getElementById('status');
      if(url.slice(0,4).toLowerCase() !== "http"){
        url = "https://" + url;
      }
      if(!(await isValidURL(url))){
        statusDiv.classList.add('text-danger');
        statusDiv.classList.remove('text-sucess');
        statusDiv.innerHTML = `❌ Not a valid URL`;
      } else {
        const params = new URLSearchParams(`url=${url}`)
        const response = await fetch(`/url-check/?${params.toString()}`);
        const {ok, status} = await response.json();
    
        if(ok === true){
          button.disabled = false;
          statusDiv.innerHTML = `✅`;
          statusDiv.classList.add('text-success');
          statusDiv.classList.remove('text-danger');
        } else {
          button.disabled = true;
          statusDiv.classList.remove('text-sucess');
          statusDiv.classList.add('text-danger');
          statusDiv.innerHTML = `❌ ${status}`;
        }
      }
      input.disabled = false;
      loadingImage.remove();
      input.focus();
    } 

    function listingInputChange(e=event){
        if(localStorage.getItem('debounce')){
            clearTimeout(localStorage.getItem('debounce'));
        }
        const type = Array.from(document.getElementsByClassName("listing-type")).filter(radio => radio.checked)[0].value;
        const input = document.getElementById("link-to-listing");
        const submit = document.getElementById("express-submit");
        submit.disabled = true;


        if(input.value === "") return;

        if(e.target.type === "radio"){
            input.value = "";
        } else {
            if(type === 'url'){
                const debounce = setTimeout(() => {
                    checkValidSite(input, submit);
                }, 700);
            
                localStorage.setItem('debounce', debounce);
        
            } else {
                if(e.target.value.trim()){
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
        }
    }

</script>

<div id="splash" style="backgrond-color: transparent" class="text-center px-4 w-100">
    <span id="splash-logo">
        <span><img id="logo-img" class="splash" src="https://cl-helper-development.s3.amazonaws.com/logo_white.png" alt="Logo">WriteWise</span>
    </span>
    <div id="auth">
        <%= link_to "Sign in with Linked In", "https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=#{ENV["OAUTH_CLIENT_ID"]}&redirect_uri=#{Rack::Utils.escape(ENV["OAUTH_CALLBACK_URI"])}&scope=profile%20email%20openid", class: "btn btn-outline-light w-100 mb-2" %>
        <br>
        <%= link_to "Sign in with Email", new_session_url, class: "btn btn-outline-light w-100 mb-2" %>
        <br>
        <%= link_to "Sign Up", new_user_url, class: "btn btn-outline-light w-100" %>
    </div>
</div>


<div style="background-color: #eef" class="px-4 py-5 mb-5 text-center" id="t-height">
    <h2 class="display-5 fw-bold mb-1 text-body-emphasis">Express Write</h2>
    <small>Get a cover letter now, no account needed.</small><br/>
    <p class="mb-4"><small >But you're <a href="#why">missing out!</a></small></p>
    <div class="d-flex justify-content-center">
        <div class="col-lg-2 d-flex flex-column align-items-start ps-5">
            <h3>How it works:</h3>
            <ul id="express-write-instructions" class="d-flex flex-column align-items-start ps-0">
                <li id="resume-instruction" class="express-instruction"> Share your Resume</li>
                <li id="listing-instruction" class="express-instruction"> Share a Job Listing</li>
                <li id="letter-instruction" class="express-instruction"> Generate a Cover Letter</li>
                <li id="edit-instruction" class="express-instruction"> Make it your own!</li>
            </ul>
        </div>
        <div class="col-lg-4 px-5">
            <div class="gap-2 d-flex flex-column align-items-center w-100">
                <form id="express-form" data-action="express#generate" data-upload="File" data-format="PDF" method="POST" action=<%= express_letter_url %> class="mb-3 ajaxForm d-flex flex-column align-items-start col-12">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <h6 class="my-1">Upload your Resume</h6>
                    <label for="resume-format">Format:
                    <select class="mb-1" name="resume-format" id="resume-format" onChange="formatChange(event)">
                        <option value="PDF" selected>PDF</option>
                        <option value="DOCX">DOCX</option>
                        <option value="TEXT">Plain Text</option>
                    </select></label>
                    

                    <div id="resume-input" class="w-100">
                        <div id="upload-type" class="d-flex py-1 mb-1" onChange="uploadChange(event)">
                            From:&nbsp;
                            <label>File <input type="radio" name="form-type" value="File" checked></label>
                            <label class="ms-2">Link <input type="radio" name="form-type" value="Link"></label>
                        </div>
                        <input type="file" name="file" id="file" accept=".pdf" class="mb-3" required>
                    </div>
                    <hr class=" w-100">
                    <h6 class="my-1">Share a Job Listing</h6>
                    <div id="listing-input" class=" d-flex flex-column align-items-start w-100 mb-3">
                        <div>From:&nbsp;
                            <label>URL <input type="radio" name="listing-type" value="url" checked onChange="listingInputChange(event)" class="listing-type"></label>
                            <label class="ms-2">Plain Text <input type="radio" name="listing-type" value="text" onChange="listingInputChange(event)" class="listing-type"></label>
                        </div>
                        <input name="input" placeholder="Paste Here" id="link-to-listing" class="form-control" onInput="listingInputChange(event)">
                    </div>


                    <span class="d-flex align-items-center"><input type="submit" value="Generate" id="express-submit" class="btn btn-success" disabled><span id="status" class="m-1"></span></span>
                </form>
            </div>
            <p style="margin-top: 20px; margin-bottom: 0;">Have an account?</p>
            <p style="margin-top: 0;"><a href="<%= new_session_url %>">Sign In</a></p>
        </div>
        <div class="col-lg-2">
            <div class="gap-2 d-sm-flex justify-content-sm-center">
                <%= image_tag "letter.gif", id:"letter-gif", class:"w-75" %>
            </div>
        </div>
    </div>
</div>

<div id="resume-splash" style="background-color: #eef" class="px-4 py-5 mb-5 text-center">
    <h2 class="display-5 fw-bold mb-1 text-body-emphasis">Resume Builder</h2>
    <small>Try the Resume Builder! Generates bullet-points for job descriptions!</small><br/>

    <div class="d-flex justify-content-center mt-2">
        <div class="col-lg-4 col-md-4 d-flex flex-column align-items-start ps-5">
            <h3>Features:</h3>
            <ul id="express-write-instructions" class="d-flex flex-column align-items-start ps-0">
                <li class="account-instruction express-instruction"> Professionally formatted resume</li>
                <li class="account-instruction express-instruction"> Relevant bullet-point starters for work experience</li>
                <li class="account-instruction express-instruction"> Download resumes as Word Documents</li>
            </ul>
            <%# <h3>Members can:</h3>
            <ul id="express-write-instructions" class="d-flex flex-column align-items-start ps-0">
                <li class="account-instruction express-instruction"> Save resumes to the cloud</li>
                <li class="account-instruction express-instruction"> Pre-fill forms with PDF Resume</li>
            </ul> %>
            <div class="gap-2 d-sm-flex justify-content-sm-center">
                <%= link_to "Check it Out", "/resumes/new", class: "btn btn-primary btn-lg px-4" %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex flex-column align-items-start ps-5">
            <img src="https://cl-helper-development.s3.amazonaws.com/Screenshot+2024-03-19+172108.png" style="border-radius: 8px" width="100%">
        </div>
    </div>
</div>

<div id="why" style="background-color: #eef" class="px-4 py-5 text-center">
    <h2 class="display-5 fw-bold mb-4 text-body-emphasis">Why Sign Up?</h2>
    <div class="d-flex justify-content-center">
        <div class="col-lg-4 col-md-4 d-flex flex-column align-items-start ps-5">
            <h3>An account allows you to:</h3>
            <ul id="express-write-instructions" class="d-flex flex-column align-items-start ps-0">
                <li class="account-instruction express-instruction"> Save multiple resumes</li>
                <li class="account-instruction express-instruction"> Save and track multiple listings</li>
                <li class="account-instruction express-instruction"> Stay up to date with WriteWise's new features!</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 d-flex flex-column align-items-start ps-5">
            <div class="gap-2 d-sm-flex justify-content-sm-center">
                <%= link_to "Check it Out", "/users/new", class: "btn btn-primary btn-lg px-4" %>
            </div>
        </div>
    </div>
</div>

<%# <div>&nbsp;</div> %>