<script>
  function chartTypeChange(e){
    const chartClass = e.target.dataset.category;
    const visibleChart = document.querySelector(`[data-category="${chartClass}-canvas"]:not(.d-none)`);
    const targetChart = document.getElementById(e.target.value);
    targetChart.classList.remove('d-none');
    visibleChart.classList.add('d-none');
  }
</script>
<main class="pt-2">
  <!-- Stats Overview and Tech Stack -->
  <div class="d-flex justify-content-between col-lg-8 col-sm-10">
    <!-- Stats Overview -->
    <div>
      <span class="fw-bold">📝 Letters Generated:</span> <%= TempLetter.count %> <br>
      <span class="fw-bold">🔄 Generation requests this week:</span> <%= requests_this_week.count %> <br>
      <span class="fw-bold">⌛ Avg Generation Time this Week:</span> <%= (avg = Request.average_uptime).is_a?(Numeric) ? "#{avg.round(3)} seconds" : avg %> <br>
      <% if (a = days_since_last_error) > 4 %>
        <span class="fw-bold">⚠️ Days since a failed request:</span> <%= a %> 
      <% end %>
    </div>
    <!-- Tech Stack -->
    <div>
      Ruby on Rails 7<br>
      PostgreSQL<br>
      Google Firebase<br>
      Bootstrap 5<br>
    </div>
  </div>
  <hr>
  <!-- Letters Generated Graph -->
  <div class="border border-2 border-primary-subtle rounded p-3 mb-4">
    <div>
      <h6>Letters Generated</h6>
      <label>Weekly
        <input class="me-3" type="radio" name="lettersGenerated-chartType" data-category="lettersGenerated-hitChart" value="lettersGenerated-weeklyHitChart" onChange="chartTypeChange(event)" />
      </label>
      <label>Daily
        <input class="me-3" type="radio" name="lettersGenerated-chartType" data-category="lettersGenerated-hitChart" value="lettersGenerated-dailyHitChart" onChange="chartTypeChange(event)" checked />
      </label>
    </div>
    <div class="d-lg-flex col-sm-9 col-md-8 col-lg-6">
      <canvas id="lettersGenerated-dailyHitChart" data-category="lettersGenerated-hitChart-canvas" class="hitChart"></canvas>
      <canvas id="lettersGenerated-weeklyHitChart" data-category="lettersGenerated-hitChart-canvas" class="hitChart d-none"></canvas>
    </div>
  </div>

  <!-- Splash Page Graph -->
  <div class="border border-2 border-primary-subtle rounded p-3 mb-4">
    <div>
      <h6>Splash Page</h6>
      <label>Weekly
        <input class="me-3" type="radio" name="chartType" data-category="splash-hitChart" value="weeklyHitChart" onChange="chartTypeChange(event)" />
      </label>
      <label>Daily
        <input class="me-3" type="radio" name="chartType" data-category="splash-hitChart" value="dailyHitChart" onChange="chartTypeChange(event)" checked />
      </label>
    </div>
    <div class="d-lg-flex col-sm-9 col-md-8 col-lg-6">
      <canvas id="dailyHitChart" data-category="splash-hitChart-canvas" class="hitChart"></canvas>
      <canvas id="weeklyHitChart" data-category="splash-hitChart-canvas" class="hitChart d-none"></canvas>
    </div>
  </div>

  <!-- Job Board Graph -->
  <div class="border border-2 border-primary-subtle rounded p-3 mb-4">
    <div>
      <h6>Job Boards</h6>
      <label>Weekly
        <input class="me-3" type="radio" name="jobBoard-chartType" data-category="jobBoard-hitChart" value="jobBoard-weeklyHitChart" onChange="chartTypeChange(event)" />
      </label>
      <label>Daily
        <input class="me-3" type="radio" name="jobBoard-chartType" data-category="jobBoard-hitChart" value="jobBoard-dailyHitChart" onChange="chartTypeChange(event)" checked />
      </label>
    </div>
    <div class="d-lg-flex col-sm-9 col-md-8 col-lg-6">
      <canvas id="jobBoard-dailyHitChart" data-category="jobBoard-hitChart-canvas" class="hitChart"></canvas>
      <canvas id="jobBoard-weeklyHitChart" data-category="jobBoard-hitChart-canvas" class="hitChart d-none"></canvas>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script defer>
  const ctx = document.getElementById('dailyHitChart');
  const ctx2 = document.getElementById('weeklyHitChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        <% @labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Front Page Visits',
        data: <%= @values %>,
        borderWidth: 3
      }]
    },
  });

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: [
        <% @weekly_labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Front Page Visits',
        data: <%= @weekly_values %>,
        borderWidth: 3
      }]
    },
  });
</script>

<script defer>
  const ctx3 = document.getElementById('jobBoard-dailyHitChart');
  const ctx4 = document.getElementById('jobBoard-weeklyHitChart');

  new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: [
        <% @job_board_labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Jobs Page Visits',
        data: <%= @job_board_values %>,
        borderWidth: 3
      }]
    },
  });

  new Chart(ctx4, {
    type: 'line',
    data: {
      labels: [
        <% @job_board_weekly_labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Jobs Page Visits',
        data: <%= @job_board_weekly_values %>,
        borderWidth: 3
      }]
    },
  });
</script>

<script defer>
  const ctx5 = document.getElementById('lettersGenerated-dailyHitChart');
  const ctx6 = document.getElementById('lettersGenerated-weeklyHitChart');

  new Chart(ctx5, {
    type: 'bar',
    data: {
      labels: [
        <% @letters_generated_labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Letters Generated',
        data: <%= @letters_generated_values %>,
        borderWidth: 3
      }]
    },
  });

  new Chart(ctx6, {
    type: 'line',
    data: {
      labels: [
        <% @letters_generated_weekly_labels.each do |label| %>
            "<%= label %>",
        <% end %>
      ]
      ,
      datasets: [{
        label: 'Letters Generated',
        data: <%= @letters_generated_weekly_values %>,
        borderWidth: 3
      }]
    },
  });
</script>

