<!DOCTYPE html>
<html>
  <head>
    <title>WriteWise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="https://cl-helper-development.s3.amazonaws.com/logo.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="main">
    <header id="banner">
    <span style="height: 100%;">
      <a href=<%= root_url %> class="logo"><img id="logo-img" src="https://cl-helper-development.s3.amazonaws.com/logo_white.png" alt="Logo">WriteWise</a>
      <br>
      <a href="https://linkedin.com/in/clarence-smith-nyc" class="link-light">Developed by Clarence Smith</a>
    </span>
      <span id="notices">
        <% if flash["errors"] %>
          <p class="text-danger">
            <%= "ERR: " + flash["errors"].to_s %>
          </p>
        <% end %>
        <% if flash["messages"] %>
          <p class="text-info">
            <%= "MSG: " + flash["messages"].to_s %>
          </p>
        <% end %>
      </span>
      <% if current_user %>
      <span id="hamburger-container">
        <span id="hamburger">
        </span>
      </span>
        <div id="sidebar">
            <span class="sidebar-header">Navigation</span>
            <nav class="menu-options">
              <a href=<%= user_listings_url(current_user) %>><li class="menu-item" >Listings</li></a>
              <a href=<%= current_user.profile ? user_profile_url(current_user, current_user.profile) : new_profile_url() %>><li class="menu-item" >Active Profile</li></a>
              <a href=<%= user_url(current_user) %>><li class="menu-item" >Account</li></a>
              <form action=<%= session_url() %> method="POST" class="menu-item" >
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger" value="Logout">
              </form>
            </nav>
        </div>
      <% end %>
    </header>

      <%= yield %>

    <footer id="bug-report">
      <%= link_to "Report a Bug", bug_report_url %>
    </footer>
  </body>
</html>
